
.flecha-izq, .flecha-der  {
    background-color: lightsteelblue;
    border: none;
    border-radius: 6px;
    box-shadow: -3px 4px 9px darkslategrey;
    cursor: pointer;
    position: absolute;
    height: 30px;
    top: calc(50% - 10%);
    transition: .2s ease all;
    width: 30px;
    z-index: 999;
}

.flecha-izq {
    box-shadow:-3px 4px 9px darkslategrey;
    left: 0;
}

.flecha-der {
    box-shadow:3px 4px 9px darkslategrey;
    right: 0;
}

.description-container > span {
    font-size: 18px;
    line-height: 22px;
}
