.menuContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-right: 20px;
    width: 200px;
}

.menuItem {
    background-color: #A9E2F3;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin: 2px 0;
    padding: 15px;   
}