@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  background-color: darkseagreen;
  font-family: 'cursive';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


textarea {
  border-radius: 8px;
  font-family: inherit;
  margin-bottom: 8px;
  padding: 8px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

ul, h4 {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 20px;
  height: 65px;
  width: 100px;
}

ul, li {
  border-radius: 4px;
  border: 1px solid #eee;
  list-style: none;
  margin: 0px 5px 16px;
  padding: 8px 32px;
}

ul li {
  background-color: #E6E6FA;
}

ul li div {
  display: flex;
    justify-content: flex-end;
}

ul li div button {
  border-color: transparent;
  background-color: #E6E6FA;
}

ul li p {
  font-size: 14px;
}

form input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;
  margin: 3px 4px;
  text-align: center;
}

form input:hover, form textarea:hover {
  background-color: #F0F0F0;
}
